
[BOLD]             [SIZE=30][FONT=Comic Sans MS]MY Name[/BOLD][/SIZE][/FONT]
    356/12 wedagatta road,ragajiriya,
[SIZE=15]
[BOLD] my details:[/BOLD]

[/SIZE]  [FONT=Arial Black]Name[/FONT]  : Ramika Nimtharu
  [FONT=Arial Black]Email[/FONT] : ramika@gmail.com
  [FONT=Arial Black]phone[/FONT] : 07762736189
  [BOLD][SIZE=16]
[/BOLD]
----------------------------------------
----------------------------------------[/SIZE]