================================[FONT=Arial]
      [SIZE=20][/FONT][FONT=Arial Black]TEST PRINT SUCCESS![/SIZE][SIZE=17][/FONT][FONT=Arial]   [/SIZE]    
[/FONT]================================[FONT=Arial]
[BOLD][/FONT][FONT=Cambria]This text must appear exactly as[/BOLD]
typed, with no cut-off lines.[/FONT][FONT=Arial]
Left: Coffee      $4.50
Right: Croissant  $3.00
[/FONT]================================