
[BOLD]             [SIZE=30]MY Name[/BOLD][/SIZE]
    356/12 wedagatta road,ragajiriya,
[SIZE=15]
 my details:

[/SIZE]  Name  : Ramika Nimtharu
  Email : ramika@gmail.com
  phone : 07762736189
  [BOLD][SIZE=16]
[/BOLD]
----------------------------------------
----------------------------------------[/SIZE]